In [ ]:
#Split location-only results by MA and cone angle.

In [1]:
import cdflib
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import matplotlib.gridspec as gridspec
import datetime as dt
import glob
from math import pi
import math
from XMA_finder import XMA_finder
from gipm_locs_quick import gipm_locs_quick
from histo_plot import histo_plot

In [2]:
#open OMNI *average* CSVs
list_all = []

path = "/Users/apx059/Documents/Location Only Checks/OMNI Averages/**"

for path in glob.glob(path, recursive=True):
    list_all.append(path)
    
#list with only files, not folders
om_csvs = []

for element in list_all:
    if '.csv' in element:
        om_csvs.append(element)
        
om_dfs = []

for element in om_csvs:
    om = pd.read_csv(element)
    om_dfs.append(om)
    
omni_all = pd.concat(om_dfs)
omni_all['datetime'] = pd.to_datetime(omni_all['datetime'])

omni_all = omni_all.set_index('datetime')

for element in om_dfs:
    element['datetime'] = pd.to_datetime(element['datetime'])
    element = element.set_index('datetime', inplace = True)

In [4]:
##load Cluster CSVs

list_all = []

path = "/Users/apx059/Documents/Location Only Checks/Cluster GIPM/**"

for path in glob.glob(path, recursive=True):
    list_all.append(path)
    
#list with only files, not folders
cl_file_list = []

for element in list_all:
    if '.csv' in element:
        cl_file_list.append(element)

cl_dfs = []

for file in cl_file_list:
    df = pd.read_csv(file,encoding='utf-8', names = ['datetime', 'GIPM X (RE)', 'GIPM Y (RE)', 'GIPM Z (RE)'])
    df['datetime'] = pd.to_datetime(df['datetime'])
    df.set_index('datetime', inplace = True)
    cl_dfs.append(df)

,Np,B_mag,V_gse,B_X_gse,B_Y_gse,B_Z_gse,V_X_gse,V_Y_gse,V_Z_gse,M_A,cone angle
datetime,,,,,,,,,,,
2006-02-01 00:00:30,13.781667,2.423333,305.366667,-0.755000,2.078333,-0.623333,-304.833333,-17.833333,-0.083333,23.416667,71.760480
2006-02-01 00:01:30,13.747143,2.444286,305.314286,-0.794286,2.108571,-0.602857,-304.785714,-17.628571,-0.600000,23.185714,70.990863
2006-02-01 00:02:30,13.642500,2.496250,305.250000,-0.875000,2.152500,-0.545000,-304.725000,-17.600000,-0.812500,22.675000,69.588056
2006-02-01 00:03:30,13.555556,2.551111,305.200000,-0.931111,2.207778,-0.496667,-304.688889,-17.577778,-0.966667,22.188889,68.802002
2006-02-01 00:04:30,13.499000,2.598000,305.160000,-0.971000,2.258000,-0.446000,-304.660000,-17.530000,-1.120000,21.790000,68.308878
...,...,...,...,...,...,...,...,...,...,...,...
2004-01-31 23:55:30,3.060000,7.946667,583.511111,-4.162222,3.600000,5.501111,-582.333333,-2.144444,-36.588889,6.433333,58.052719
2004-01-31 23:56:30,3.075000,7.958750,582.087500,-4.413750,3.606250,5.357500,-580.937500,-1.775000,-35.987500,6.425000,56.046259
2004-01-31 23:57:30,3.107143,7.948571,580.500000,-4.612857,3.561429,5.222857,-579.414286,-1.200000,-35.000000,6.457143,54.351678
2004-01-31 23:58:30,3.153333,7.976667,578.700000,-4.743333,3.510000,5.168333,-577.716667,-0.316667,-33.566667,6.466667,53.325469
2004-01-31 23:59:30,3.116000,7.974000,577.800000,-4.846000,3.430000,5.098000,-576.860000,1.140000,-32.900000,6.420000,52.383707

In [31]:
cl_dfs[9]

                     GIPM X (RE)  GIPM Y (RE)  GIPM Z (RE)
datetime
2022-07-31 06:16:30    13.015220     1.662541     7.351231
2022-07-31 06:16:30    13.120905     2.776091     6.758813
2022-07-31 06:16:30    13.119785     2.767752     6.765167
2022-07-31 06:16:30    13.118658     2.759426     6.771508
2022-07-31 06:16:30    13.230396     3.990858     5.880767
...                          ...          ...          ...
2022-07-31 06:16:30     6.993869     6.738510    -2.843542
2022-07-31 06:16:30     7.006858     6.742060    -2.835054
2022-07-31 06:16:30     7.019848     6.745605    -2.826539
2022-07-31 06:16:30     7.032819     6.749116    -2.818023
2022-07-31 06:16:30     7.054704     6.774500    -2.679597

[259577 rows x 3 columns]

In [18]:
#add cone angle and MA to each row of one cluster df

ma_list = []
cone_a_list = []

cl_1 = cl_dfs[0]

ind_list = cl_1.index

obs = ind_list[2]

if obs in omni_all.index:
    print('yes!')
else:
    print('no :( ')
#for i in cl_dfs[0].index:
#    ma_temp = omni_all['M_A'].loc[i]
#    cone_a_temp = omni_all['cone angle'].loc[i]
#    ma_list.append()
#    cone_a_list.append()
    
#cl_dfs[0]['MA'] = ma_list
#cl_dfs[0]['cone angle'] = cone_a_list

#print(cl_dfs[0])

no :(